:root
{
   --primary-color: #fff;
   --primary-background-color: #333;
   --primary-text-color: #000;

   /* Radii */
   --base-border-radius: 10px;

   /* Shadows */
   --text-shadow: 0 2px 5px rgba(0, 0, 0, .3);
   --box-shadow: 0 2px 5px rgba(0, 0, 0, .3);
}

.center
{
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
}

.btn
{
   padding: 10px;
   font-size: 15px;
   border-radius: calc(var(--base-border-radius) / 2);
   cursor: pointer;
   transition: opacity .2s ease-in, box-shadow .2s ease-in;
}

.btn:hover
{
   opacity: .95;
   box-shadow: var(--box-shadow);
   transition: opacity .2s ease-in, box-shadow .2s ease-in;
}

.btn:active
{
   opacity: 1;
   box-shadow: none;
   transform: scale(.98);
   transition: none;
}

.btn-primary
{
   color: var(--primary-color);
   background-color: var(--primary-background-color);
}